<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.databinding">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".observable_object.Main8Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".observable_field.Main7Activity" />
        <activity android:name=".binding_adapter.Main6Activity" />
        <activity android:name=".binding_expression.Main5Activity" />
        <activity android:name=".event_binding.Main4Activity" />
        <activity android:name=".object_binding.Main3Activity" />
        <activity android:name=".data_binding.Main2Activity" />
        <activity android:name=".find_view_by_id.MainActivity" />
    </application>

</manifest>